.noticias-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .noticias-container select, .noticias-container input {
    padding: 5px 10px;
    border: 2px solid #ccc;
    border-radius: 30px;
    margin: 10px;
  }
  
  .noticias-container ul {
    list-style: none;
    padding: 0;
  }
  
  .noticias-container li {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #eee;
    max-width: 360px;
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    transition: 0.3s;
    margin: 10px;
  }
  
  .noticias-container li:hover {
    box-shadow: 0 0 10px 5px #ccc;
  }
  
  .noticias-container li:hover h3 {
    text-decoration: underline;
  }
  
  .noticias-container li img {
    width: 100%;
  }
  
  .noticias-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    list-style: none;
    padding: 0;
  }
  
  .noticia-item {
    background-color: #eee;
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .noticia-item:hover {
    box-shadow: 0 0 10px 5px #ccc;
  }
  
  .noticia-item:hover h3 {
    text-decoration: underline;
  }
  
  .noticia-item img {
    width: 100%;
  }
  
  .titulo-noticias {
    color: #3b05fc; /* Color rojo */
    font-family: 'Montserrat', sans-serif; /* Utiliza 'Montserrat' como nombre de fuente */
    /* Otras propiedades de estilo si lo deseas, como tamaño de fuente, peso, etc. */
  }