<div class="container">
    <div class="hero">
      <div class="hero-content">
        <h2>Crea un usuario y contraseña</h2>
        <p>Usa un correo electronico y una contraseña de almenos 8 caracteres</p>
      </div>
  </div>
    <div class="signup-box">
      <h2></h2>
      <form>
        <div class="form-group">
            <input type="text" name="nombre" placeholder="nombre" class="form-control" [(ngModel)]="usuario.nombre" >
        </div>  
        <div class="form-group">
            <input type="text" name="apellido paterno" placeholder="apeP" class="form-control" [(ngModel)]="usuario.apeP" >
        </div> 
        <div class="form-group">
            <input type="text" name="apellido materno" placeholder="apeM" class="form-control" [(ngModel)]="usuario.apeM" >
        </div> 
        <div class="form-group">
            <input type="text" name="telefono" placeholder="telefono" class="form-control" [(ngModel)]="usuario.telefono" >
        </div> 
        <div class="form-group">
            <input type="email" name="correo" placeholder="correo" class="input" [(ngModel)]="usuario.correo" >
        </div> 
        <div class="form-group">
            <input type="password" name="password1" placeholder="password1" class="form-control" [(ngModel)]="usuario.password1" >
        </div> 
        <div class="form-group">
            <input type="password" name="password2" placeholder="password2" class="form-control" [(ngModel)]="usuario.password2" >
        </div> 
        <button class="btn btn-success btn-block" (click)="newUsuario()">
            CREAR CUENTA
        </button>
      </form>
    </div>
  </div>
