<!DOCTYPE html>
<html lang="es">
<head>
</head>
<body class="img">
  <section class="hero">
    <div class="hero-content" >
      <h2>Bienvenido a nuestro estacionamiento</h2>
      <p>Ofrecemos servicios de estacionamiento seguros y convenientes.</p>
    </div>
  </section>

  <section class="features">
    <div class="feature">
      <i class=""></i>
      <h4>Amplio espacio de estacionamiento</h4>
      <p>Nuestro estacionamiento cuenta con una gran cantidad de espacios disponibles para estacionar tu vehículo de forma cómoda.</p>
    </div>
    <div class="feature">
      <i class=""></i>
      <h4>Seguridad garantizada</h4>
      <p>Nuestro estacionamiento está equipado con sistemas de seguridad avanzados para proteger tu vehículo las 24 horas del día.</p>
    </div>
    <div class="feature">
      <i class=""></i>
      <h4>Acceso las 24 horas</h4>
      <p>Podrás acceder a nuestro estacionamiento en cualquier momento, ya sea de día o de noche, los 7 días de la semana.</p>
    </div>
   
  </section>

  <footer>
    <p>&copy;  Estacionamiento Brothers</p>
  </footer>
</body>
</html>

